.logo{
    align-self: center;
    text-align: center;
    font-weight: bold;
  }
  .card-header{
    text-align: center;
  }
  body{
    background-image: url(../wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card-text{
    color:#59577F;
    font-size: 20px;
    font-weight: bolder;
  }

  h1{
    color: #595681;
  }
  .outer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .upper-right{
    display: flex;
    flex-direction: row;
  }
  .up-para{
    align-self:center;
  }
  /* .upper-btn{
    margin-top: 0;
    margin-left: 50px;
    height: 40px;
  } */
  

  .text-sm{
    font-size:0.5rem;
  }




  /* margin:15px 550px; */
    /* background-color: #A783A7; */
    /* opacity: 0.8; */
    /* background-color: #C5C6FC; */
    /* background-color: #B9D3F6; */



